form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
}

form label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  font-weight: bold;
}
form label p {
  margin: 0;
}
form label select,
form label input {
  padding: 5px 10px;
}

form label select {
  width: 64%;
}
form label.required p {
  &:after {
    content: "*";
    color: red;
  }
}
form label.error {
  color: red;
}
form label.error select,
form label.error input {
  border-color: red;
}
